@{
  Layout = "_Layout";
}

@model HairSalon.Models.Customer;

<h3>Add Customer</h3>

@using (Html.BeginForm()) 
{
  <input type="hidden" id="StylistId" name="StylistId" value="@ViewBag.StylistId"/>
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)
  @Html.Label("Set Appt. Date:")
  <input id="ApptDate" name="ApptDate" type="date" required>

  <input type="submit" value="Enter"/>
}

<div class="big-button">
  <p>@Html.ActionLink("Back To Homepage", "Index", "Home")</p>
  <p>@Html.ActionLink("Back To Stylists", "Index", "Stylist")</p>
</div>

