@{
  Layout = "_Layout";
}

@model HairSalon.Models.Customer

<h2>@Html.DisplayFor(model => model.Name) Details:</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.ApptDate): @Html.DisplayFor(model => model.ApptDate)</h3>


<p>@Html.ActionLink("Edit Customer", "Edit", new { id = Model.CustomerId })</p>
<p>@Html.ActionLink("Delete Customer", "Delete", new { id = Model.CustomerId })</p>
<p>@Html.ActionLink("Back To Stylists", "Index", "Stylists")</p>
<p>@Html.ActionLink("Back Home", "Index", "Home")</p>